<app-navigation></app-navigation>
  
<!-- Image Section -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <div class="image">
          <img
            src="https://img.freepik.com/free-vector/online-order-delivery-service-shipment-internet-shop-basket-cardboard-boxes-buyer-with-laptop-delivery-note-monitor-screen-parcel_335657-1169.jpg?w=740&t=st=1683839362~exp=1683839962~hmac=ad6246f95e4018bec5960594910917eddbee90ffd2fed62bc2f7fc3875bf313e"
            class="img-fluid">
        </div>
      </div>
      <!-- tabale List -->
      <div class="col-sm-7">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Product Id</th>
              <th scope="col">Product Name</th> 
              <th scope="col">Product Code</th>
              <th scope="col">Product Description</th>
              <th scope="col">Product Type</th>
              <th scope="col">Available Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Áctions</th>
            </tr>
          </thead> 
          <tbody>
            <tr *ngFor="let item of data" >
              <td>{{item.id}}</td> 
              <td>{{item.productname}}</td>
              <td>{{item.productcode}}</td>
              <td>{{item.decription}}</td>
              <td>{{item.producttype}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price}}</td>
              <td><button style="color: blue;" routerLink="/app-product-update/{{item.id}}" class="fas fa-edit"></button>
                &nbsp;
                <button style="color: red;" (click)="deleteproduct(item.id)" class="fas fa-trash"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- table List -->